USE [CuaHang_NongDuoc]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_BAN]    Script Date: 11/14/2025 10:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_BAN](
	[ID_PHIEU_BAN] [nvarchar](50) NOT NULL,
	[ID_MA_SAN_PHAM] [nvarchar](50) NOT NULL,
	[SO_LUONG] [int] NULL,
	[DON_GIA] [int] NULL,
	[THANH_TIEN] [int] NULL,
 CONSTRAINT [CHI_TIET_PHIEU_BAN$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID_PHIEU_BAN] ASC,
	[ID_MA_SAN_PHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAI_LY]    Script Date: 11/14/2025 10:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAI_LY](
	[ID] [nvarchar](50) NOT NULL,
	[DAI_LY] [nvarchar](255) NULL,
	[DIA_CHI] [nvarchar](255) NULL,
	[DIEN_THOAI] [nvarchar](50) NULL,
 CONSTRAINT [DAI_LY$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_VI_TINH]    Script Date: 11/14/2025 10:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_VI_TINH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN_DON_VI] [nvarchar](50) NULL,
 CONSTRAINT [DON_VI_TINH$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DU_NO_KH]    Script Date: 11/14/2025 10:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DU_NO_KH](
	[ID_KHACH_HANG] [nvarchar](50) NOT NULL,
	[THANG] [smallint] NOT NULL,
	[NAM] [smallint] NOT NULL,
	[DAU_KY] [int] NULL,
	[PHAT_SINH] [int] NULL,
	[DA_TRA] [int] NULL,
	[CUOI_KY] [int] NULL,
 CONSTRAINT [DU_NO_KH$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID_KHACH_HANG] ASC,
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 11/14/2025 10:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[ID] [nvarchar](50) NOT NULL,
	[HO_TEN] [nvarchar](255) NULL,
	[DIA_CHI] [nvarchar](255) NULL,
	[DIEN_THOAI] [nvarchar](50) NULL,
	[LOAI_KH] [bit] NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [KHACH_HANG$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LY_DO_CHI]    Script Date: 11/14/2025 10:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LY_DO_CHI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LY_DO] [nvarchar](50) NULL,
 CONSTRAINT [LY_DO_CHI$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MA_SAN_PHAM]    Script Date: 11/14/2025 10:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_SAN_PHAM](
	[ID] [nvarchar](50) NOT NULL,
	[ID_SAN_PHAM] [nvarchar](50) NULL,
	[ID_PHIEU_NHAP] [nvarchar](50) NULL,
	[DON_GIA_NHAP] [int] NULL,
	[SO_LUONG] [int] NULL,
	[NGAY_NHAP] [datetime2](0) NULL,
	[NGAY_SAN_XUAT] [datetime2](0) NULL,
	[NGAY_HET_HAN] [datetime2](0) NULL,
 CONSTRAINT [MA_SAN_PHAM$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 11/14/2025 10:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[ID] [nvarchar](50) NOT NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[DIEN_THOAI] [nvarchar](50) NULL,
 CONSTRAINT [NHA_CUNG_CAP$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 11/14/2025 10:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN_DANG_NHAP] [varchar](50) NULL,
	[MAT_KHAU] [varchar](20) NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[DIA_CHI] [nvarchar](255) NULL,
	[LOAI_TAI_KHOAN] [int] NULL,
	[DIEN_THOAI] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_NhanVien_TenDangNhap] UNIQUE NONCLUSTERED 
(
	[TEN_DANG_NHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_BAN]    Script Date: 11/14/2025 10:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_BAN](
	[ID] [nvarchar](50) NOT NULL,
	[ID_KHACH_HANG] [nvarchar](50) NULL,
	[NGAY_BAN] [datetime2](0) NULL,
	[TONG_TIEN] [int] NULL,
	[DA_TRA] [int] NULL,
	[CON_NO] [int] NULL,
 CONSTRAINT [PHIEU_BAN$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_CHI]    Script Date: 11/14/2025 10:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_CHI](
	[ID] [nvarchar](50) NOT NULL,
	[NGAY_CHI] [datetime2](0) NULL,
	[TONG_TIEN] [int] NULL,
	[ID_LY_DO_CHI] [int] NULL,
	[GHI_CHU] [nvarchar](255) NULL,
 CONSTRAINT [PHIEU_CHI$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 11/14/2025 10:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[ID] [nvarchar](50) NOT NULL,
	[NGAY_NHAP] [datetime2](0) NULL,
	[TONG_TIEN] [int] NULL,
	[DA_TRA] [int] NULL,
	[CON_NO] [int] NULL,
	[ID_NHA_CUNG_CAP] [nvarchar](50) NULL,
 CONSTRAINT [PHIEU_NHAP$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_THANH_TOAN]    Script Date: 11/14/2025 10:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_THANH_TOAN](
	[ID] [nvarchar](50) NOT NULL,
	[NGAY_THANH_TOAN] [datetime2](0) NULL,
	[TONG_TIEN] [int] NULL,
	[ID_KHACH_HANG] [nvarchar](50) NULL,
	[GHI_CHU] [nvarchar](255) NULL,
 CONSTRAINT [PHIEU_THANH_TOAN$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 11/14/2025 10:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[ID] [nvarchar](50) NOT NULL,
	[TEN_SAN_PHAM] [nvarchar](50) NULL,
	[SO_LUONG] [int] NULL,
	[DON_GIA_NHAP] [int] NULL,
	[GIA_BAN_SI] [int] NULL,
	[GIA_BAN_LE] [int] NULL,
	[ID_DON_VI_TINH] [int] NULL,
 CONSTRAINT [SAN_PHAM$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAM_SO]    Script Date: 11/14/2025 10:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAM_SO](
	[PHIEU_BAN] [int] NULL,
	[NHA_CUNG_CAP] [int] NULL,
	[KHACH_HANG] [int] NULL,
	[PHIEU_NHAP] [int] NULL,
	[PHIEU_THANH_TOAN] [int] NULL,
	[TEN_CUA_HANG] [nvarchar](100) NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[DIEN_THOAI] [nvarchar](50) NULL,
	[SAN_PHAM] [int] NULL,
	[PHIEU_CHI] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_BAN] ADD  DEFAULT ((0)) FOR [SO_LUONG]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_BAN] ADD  DEFAULT ((0)) FOR [DON_GIA]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_BAN] ADD  DEFAULT ((0)) FOR [THANH_TIEN]
GO
ALTER TABLE [dbo].[DU_NO_KH] ADD  DEFAULT ((0)) FOR [THANG]
GO
ALTER TABLE [dbo].[DU_NO_KH] ADD  DEFAULT ((0)) FOR [NAM]
GO
ALTER TABLE [dbo].[DU_NO_KH] ADD  DEFAULT ((0)) FOR [DAU_KY]
GO
ALTER TABLE [dbo].[DU_NO_KH] ADD  DEFAULT ((0)) FOR [PHAT_SINH]
GO
ALTER TABLE [dbo].[DU_NO_KH] ADD  DEFAULT ((0)) FOR [DA_TRA]
GO
ALTER TABLE [dbo].[DU_NO_KH] ADD  DEFAULT ((0)) FOR [CUOI_KY]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  DEFAULT ((0)) FOR [LOAI_KH]
GO
ALTER TABLE [dbo].[MA_SAN_PHAM] ADD  DEFAULT ((0)) FOR [DON_GIA_NHAP]
GO
ALTER TABLE [dbo].[MA_SAN_PHAM] ADD  DEFAULT ((0)) FOR [SO_LUONG]
GO
ALTER TABLE [dbo].[PHIEU_BAN] ADD  DEFAULT ((0)) FOR [TONG_TIEN]
GO
ALTER TABLE [dbo].[PHIEU_BAN] ADD  DEFAULT ((0)) FOR [DA_TRA]
GO
ALTER TABLE [dbo].[PHIEU_BAN] ADD  DEFAULT ((0)) FOR [CON_NO]
GO
ALTER TABLE [dbo].[PHIEU_CHI] ADD  DEFAULT ((0)) FOR [TONG_TIEN]
GO
ALTER TABLE [dbo].[PHIEU_CHI] ADD  DEFAULT ((0)) FOR [ID_LY_DO_CHI]
GO
ALTER TABLE [dbo].[PHIEU_NHAP] ADD  DEFAULT ((0)) FOR [TONG_TIEN]
GO
ALTER TABLE [dbo].[PHIEU_NHAP] ADD  DEFAULT ((0)) FOR [DA_TRA]
GO
ALTER TABLE [dbo].[PHIEU_NHAP] ADD  DEFAULT ((0)) FOR [CON_NO]
GO
ALTER TABLE [dbo].[PHIEU_THANH_TOAN] ADD  DEFAULT ((0)) FOR [TONG_TIEN]
GO
ALTER TABLE [dbo].[SAN_PHAM] ADD  DEFAULT ((0)) FOR [SO_LUONG]
GO
ALTER TABLE [dbo].[SAN_PHAM] ADD  DEFAULT ((0)) FOR [DON_GIA_NHAP]
GO
ALTER TABLE [dbo].[SAN_PHAM] ADD  DEFAULT ((0)) FOR [GIA_BAN_SI]
GO
ALTER TABLE [dbo].[SAN_PHAM] ADD  DEFAULT ((0)) FOR [GIA_BAN_LE]
GO
ALTER TABLE [dbo].[SAN_PHAM] ADD  DEFAULT ((0)) FOR [ID_DON_VI_TINH]
GO
ALTER TABLE [dbo].[THAM_SO] ADD  DEFAULT ((0)) FOR [PHIEU_BAN]
GO
ALTER TABLE [dbo].[THAM_SO] ADD  DEFAULT ((0)) FOR [NHA_CUNG_CAP]
GO
ALTER TABLE [dbo].[THAM_SO] ADD  DEFAULT ((0)) FOR [KHACH_HANG]
GO
ALTER TABLE [dbo].[THAM_SO] ADD  DEFAULT ((0)) FOR [PHIEU_NHAP]
GO
ALTER TABLE [dbo].[THAM_SO] ADD  DEFAULT ((0)) FOR [PHIEU_THANH_TOAN]
GO
ALTER TABLE [dbo].[THAM_SO] ADD  DEFAULT ((0)) FOR [SAN_PHAM]
GO
ALTER TABLE [dbo].[THAM_SO] ADD  DEFAULT ((0)) FOR [PHIEU_CHI]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_BAN]  WITH NOCHECK ADD  CONSTRAINT [CHI_TIET_PHIEU_BAN$PHIEU_BANCHI_TIET_PHIEU_BAN] FOREIGN KEY([ID_PHIEU_BAN])
REFERENCES [dbo].[PHIEU_BAN] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_BAN] CHECK CONSTRAINT [CHI_TIET_PHIEU_BAN$PHIEU_BANCHI_TIET_PHIEU_BAN]
GO
ALTER TABLE [dbo].[DU_NO_KH]  WITH NOCHECK ADD  CONSTRAINT [DU_NO_KH$KHACH_HANGDU_NO_KH] FOREIGN KEY([ID_KHACH_HANG])
REFERENCES [dbo].[KHACH_HANG] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DU_NO_KH] CHECK CONSTRAINT [DU_NO_KH$KHACH_HANGDU_NO_KH]
GO
ALTER TABLE [dbo].[MA_SAN_PHAM]  WITH NOCHECK ADD  CONSTRAINT [MA_SAN_PHAM$PHIEU_NHAPMA_SAN_PHAM] FOREIGN KEY([ID_PHIEU_NHAP])
REFERENCES [dbo].[PHIEU_NHAP] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MA_SAN_PHAM] CHECK CONSTRAINT [MA_SAN_PHAM$PHIEU_NHAPMA_SAN_PHAM]
GO
ALTER TABLE [dbo].[MA_SAN_PHAM]  WITH NOCHECK ADD  CONSTRAINT [MA_SAN_PHAM$SAN_PHAMMA_SAN_PHAM] FOREIGN KEY([ID_SAN_PHAM])
REFERENCES [dbo].[SAN_PHAM] ([ID])
GO
ALTER TABLE [dbo].[MA_SAN_PHAM] CHECK CONSTRAINT [MA_SAN_PHAM$SAN_PHAMMA_SAN_PHAM]
GO
ALTER TABLE [dbo].[PHIEU_THANH_TOAN]  WITH NOCHECK ADD  CONSTRAINT [PHIEU_THANH_TOAN$KHACH_HANGPHIEU_THANH_TOAN] FOREIGN KEY([ID_KHACH_HANG])
REFERENCES [dbo].[KHACH_HANG] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_THANH_TOAN] CHECK CONSTRAINT [PHIEU_THANH_TOAN$KHACH_HANGPHIEU_THANH_TOAN]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[CHI_TIET_PHIEU_BAN].[ID_PHIEU_BAN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CHI_TIET_PHIEU_BAN', @level2type=N'COLUMN',@level2name=N'ID_PHIEU_BAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[CHI_TIET_PHIEU_BAN].[ID_MA_SAN_PHAM]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CHI_TIET_PHIEU_BAN', @level2type=N'COLUMN',@level2name=N'ID_MA_SAN_PHAM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[CHI_TIET_PHIEU_BAN].[SO_LUONG]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CHI_TIET_PHIEU_BAN', @level2type=N'COLUMN',@level2name=N'SO_LUONG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[CHI_TIET_PHIEU_BAN].[DON_GIA]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CHI_TIET_PHIEU_BAN', @level2type=N'COLUMN',@level2name=N'DON_GIA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[CHI_TIET_PHIEU_BAN].[THANH_TIEN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CHI_TIET_PHIEU_BAN', @level2type=N'COLUMN',@level2name=N'THANH_TIEN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[CHI_TIET_PHIEU_BAN].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CHI_TIET_PHIEU_BAN', @level2type=N'CONSTRAINT',@level2name=N'CHI_TIET_PHIEU_BAN$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[CHI_TIET_PHIEU_BAN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CHI_TIET_PHIEU_BAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[CHI_TIET_PHIEU_BAN].[PHIEU_BANCHI_TIET_PHIEU_BAN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CHI_TIET_PHIEU_BAN', @level2type=N'CONSTRAINT',@level2name=N'CHI_TIET_PHIEU_BAN$PHIEU_BANCHI_TIET_PHIEU_BAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DAI_LY].[ID]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DAI_LY', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DAI_LY].[DAI_LY]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DAI_LY', @level2type=N'COLUMN',@level2name=N'DAI_LY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DAI_LY].[DIA_CHI]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DAI_LY', @level2type=N'COLUMN',@level2name=N'DIA_CHI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DAI_LY].[DIEN_THOAI]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DAI_LY', @level2type=N'COLUMN',@level2name=N'DIEN_THOAI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DAI_LY].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DAI_LY', @level2type=N'CONSTRAINT',@level2name=N'DAI_LY$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DAI_LY]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DAI_LY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DON_VI_TINH].[ID]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DON_VI_TINH', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DON_VI_TINH].[TEN_DON_VI]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DON_VI_TINH', @level2type=N'COLUMN',@level2name=N'TEN_DON_VI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DON_VI_TINH].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DON_VI_TINH', @level2type=N'CONSTRAINT',@level2name=N'DON_VI_TINH$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DON_VI_TINH]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DON_VI_TINH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DU_NO_KH].[ID_KHACH_HANG]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DU_NO_KH', @level2type=N'COLUMN',@level2name=N'ID_KHACH_HANG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DU_NO_KH].[THANG]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DU_NO_KH', @level2type=N'COLUMN',@level2name=N'THANG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DU_NO_KH].[NAM]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DU_NO_KH', @level2type=N'COLUMN',@level2name=N'NAM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DU_NO_KH].[DAU_KY]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DU_NO_KH', @level2type=N'COLUMN',@level2name=N'DAU_KY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DU_NO_KH].[PHAT_SINH]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DU_NO_KH', @level2type=N'COLUMN',@level2name=N'PHAT_SINH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DU_NO_KH].[DA_TRA]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DU_NO_KH', @level2type=N'COLUMN',@level2name=N'DA_TRA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DU_NO_KH].[CUOI_KY]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DU_NO_KH', @level2type=N'COLUMN',@level2name=N'CUOI_KY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DU_NO_KH].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DU_NO_KH', @level2type=N'CONSTRAINT',@level2name=N'DU_NO_KH$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DU_NO_KH]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DU_NO_KH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[DU_NO_KH].[KHACH_HANGDU_NO_KH]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DU_NO_KH', @level2type=N'CONSTRAINT',@level2name=N'DU_NO_KH$KHACH_HANGDU_NO_KH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[KHACH_HANG].[ID]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'KHACH_HANG', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[KHACH_HANG].[HO_TEN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'KHACH_HANG', @level2type=N'COLUMN',@level2name=N'HO_TEN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[KHACH_HANG].[DIA_CHI]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'KHACH_HANG', @level2type=N'COLUMN',@level2name=N'DIA_CHI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[KHACH_HANG].[DIEN_THOAI]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'KHACH_HANG', @level2type=N'COLUMN',@level2name=N'DIEN_THOAI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[KHACH_HANG].[LOAI_KH]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'KHACH_HANG', @level2type=N'COLUMN',@level2name=N'LOAI_KH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[KHACH_HANG].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'KHACH_HANG', @level2type=N'CONSTRAINT',@level2name=N'KHACH_HANG$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[KHACH_HANG]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'KHACH_HANG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[LY_DO_CHI].[ID]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LY_DO_CHI', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[LY_DO_CHI].[LY_DO]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LY_DO_CHI', @level2type=N'COLUMN',@level2name=N'LY_DO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[LY_DO_CHI].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LY_DO_CHI', @level2type=N'CONSTRAINT',@level2name=N'LY_DO_CHI$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[LY_DO_CHI]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LY_DO_CHI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[MA_SAN_PHAM].[ID]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MA_SAN_PHAM', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[MA_SAN_PHAM].[ID_SAN_PHAM]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MA_SAN_PHAM', @level2type=N'COLUMN',@level2name=N'ID_SAN_PHAM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[MA_SAN_PHAM].[ID_PHIEU_NHAP]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MA_SAN_PHAM', @level2type=N'COLUMN',@level2name=N'ID_PHIEU_NHAP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[MA_SAN_PHAM].[DON_GIA_NHAP]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MA_SAN_PHAM', @level2type=N'COLUMN',@level2name=N'DON_GIA_NHAP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[MA_SAN_PHAM].[SO_LUONG]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MA_SAN_PHAM', @level2type=N'COLUMN',@level2name=N'SO_LUONG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[MA_SAN_PHAM].[NGAY_NHAP]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MA_SAN_PHAM', @level2type=N'COLUMN',@level2name=N'NGAY_NHAP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[MA_SAN_PHAM].[NGAY_SAN_XUAT]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MA_SAN_PHAM', @level2type=N'COLUMN',@level2name=N'NGAY_SAN_XUAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[MA_SAN_PHAM].[NGAY_HET_HAN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MA_SAN_PHAM', @level2type=N'COLUMN',@level2name=N'NGAY_HET_HAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[MA_SAN_PHAM].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MA_SAN_PHAM', @level2type=N'CONSTRAINT',@level2name=N'MA_SAN_PHAM$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[MA_SAN_PHAM]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MA_SAN_PHAM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[MA_SAN_PHAM].[PHIEU_NHAPMA_SAN_PHAM]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MA_SAN_PHAM', @level2type=N'CONSTRAINT',@level2name=N'MA_SAN_PHAM$PHIEU_NHAPMA_SAN_PHAM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[MA_SAN_PHAM].[SAN_PHAMMA_SAN_PHAM]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MA_SAN_PHAM', @level2type=N'CONSTRAINT',@level2name=N'MA_SAN_PHAM$SAN_PHAMMA_SAN_PHAM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[NHA_CUNG_CAP].[ID]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NHA_CUNG_CAP', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[NHA_CUNG_CAP].[HO_TEN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NHA_CUNG_CAP', @level2type=N'COLUMN',@level2name=N'HO_TEN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[NHA_CUNG_CAP].[DIA_CHI]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NHA_CUNG_CAP', @level2type=N'COLUMN',@level2name=N'DIA_CHI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[NHA_CUNG_CAP].[DIEN_THOAI]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NHA_CUNG_CAP', @level2type=N'COLUMN',@level2name=N'DIEN_THOAI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[NHA_CUNG_CAP].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NHA_CUNG_CAP', @level2type=N'CONSTRAINT',@level2name=N'NHA_CUNG_CAP$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[NHA_CUNG_CAP]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NHA_CUNG_CAP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_BAN].[ID]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_BAN', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_BAN].[ID_KHACH_HANG]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_BAN', @level2type=N'COLUMN',@level2name=N'ID_KHACH_HANG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_BAN].[NGAY_BAN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_BAN', @level2type=N'COLUMN',@level2name=N'NGAY_BAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_BAN].[TONG_TIEN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_BAN', @level2type=N'COLUMN',@level2name=N'TONG_TIEN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_BAN].[DA_TRA]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_BAN', @level2type=N'COLUMN',@level2name=N'DA_TRA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_BAN].[CON_NO]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_BAN', @level2type=N'COLUMN',@level2name=N'CON_NO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_BAN].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_BAN', @level2type=N'CONSTRAINT',@level2name=N'PHIEU_BAN$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_BAN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_BAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_CHI].[ID]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_CHI', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_CHI].[NGAY_CHI]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_CHI', @level2type=N'COLUMN',@level2name=N'NGAY_CHI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_CHI].[TONG_TIEN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_CHI', @level2type=N'COLUMN',@level2name=N'TONG_TIEN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_CHI].[ID_LY_DO_CHI]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_CHI', @level2type=N'COLUMN',@level2name=N'ID_LY_DO_CHI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_CHI].[GHI_CHU]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_CHI', @level2type=N'COLUMN',@level2name=N'GHI_CHU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_CHI].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_CHI', @level2type=N'CONSTRAINT',@level2name=N'PHIEU_CHI$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_CHI]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_CHI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_NHAP].[ID]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_NHAP', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_NHAP].[NGAY_NHAP]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_NHAP', @level2type=N'COLUMN',@level2name=N'NGAY_NHAP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_NHAP].[TONG_TIEN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_NHAP', @level2type=N'COLUMN',@level2name=N'TONG_TIEN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_NHAP].[DA_TRA]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_NHAP', @level2type=N'COLUMN',@level2name=N'DA_TRA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_NHAP].[CON_NO]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_NHAP', @level2type=N'COLUMN',@level2name=N'CON_NO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_NHAP].[ID_NHA_CUNG_CAP]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_NHAP', @level2type=N'COLUMN',@level2name=N'ID_NHA_CUNG_CAP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_NHAP].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_NHAP', @level2type=N'CONSTRAINT',@level2name=N'PHIEU_NHAP$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_NHAP]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_NHAP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_THANH_TOAN].[ID]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_THANH_TOAN', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_THANH_TOAN].[NGAY_THANH_TOAN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_THANH_TOAN', @level2type=N'COLUMN',@level2name=N'NGAY_THANH_TOAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_THANH_TOAN].[TONG_TIEN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_THANH_TOAN', @level2type=N'COLUMN',@level2name=N'TONG_TIEN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_THANH_TOAN].[ID_KHACH_HANG]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_THANH_TOAN', @level2type=N'COLUMN',@level2name=N'ID_KHACH_HANG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_THANH_TOAN].[GHI_CHU]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_THANH_TOAN', @level2type=N'COLUMN',@level2name=N'GHI_CHU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_THANH_TOAN].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_THANH_TOAN', @level2type=N'CONSTRAINT',@level2name=N'PHIEU_THANH_TOAN$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_THANH_TOAN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_THANH_TOAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[PHIEU_THANH_TOAN].[KHACH_HANGPHIEU_THANH_TOAN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEU_THANH_TOAN', @level2type=N'CONSTRAINT',@level2name=N'PHIEU_THANH_TOAN$KHACH_HANGPHIEU_THANH_TOAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[SAN_PHAM].[ID]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SAN_PHAM', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[SAN_PHAM].[TEN_SAN_PHAM]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SAN_PHAM', @level2type=N'COLUMN',@level2name=N'TEN_SAN_PHAM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[SAN_PHAM].[SO_LUONG]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SAN_PHAM', @level2type=N'COLUMN',@level2name=N'SO_LUONG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[SAN_PHAM].[DON_GIA_NHAP]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SAN_PHAM', @level2type=N'COLUMN',@level2name=N'DON_GIA_NHAP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[SAN_PHAM].[GIA_BAN_SI]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SAN_PHAM', @level2type=N'COLUMN',@level2name=N'GIA_BAN_SI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[SAN_PHAM].[GIA_BAN_LE]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SAN_PHAM', @level2type=N'COLUMN',@level2name=N'GIA_BAN_LE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[SAN_PHAM].[ID_DON_VI_TINH]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SAN_PHAM', @level2type=N'COLUMN',@level2name=N'ID_DON_VI_TINH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[SAN_PHAM].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SAN_PHAM', @level2type=N'CONSTRAINT',@level2name=N'SAN_PHAM$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[SAN_PHAM]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SAN_PHAM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[THAM_SO].[PHIEU_BAN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THAM_SO', @level2type=N'COLUMN',@level2name=N'PHIEU_BAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[THAM_SO].[NHA_CUNG_CAP]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THAM_SO', @level2type=N'COLUMN',@level2name=N'NHA_CUNG_CAP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[THAM_SO].[KHACH_HANG]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THAM_SO', @level2type=N'COLUMN',@level2name=N'KHACH_HANG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[THAM_SO].[PHIEU_NHAP]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THAM_SO', @level2type=N'COLUMN',@level2name=N'PHIEU_NHAP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[THAM_SO].[PHIEU_THANH_TOAN]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THAM_SO', @level2type=N'COLUMN',@level2name=N'PHIEU_THANH_TOAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[THAM_SO].[TEN_CUA_HANG]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THAM_SO', @level2type=N'COLUMN',@level2name=N'TEN_CUA_HANG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[THAM_SO].[DIA_CHI]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THAM_SO', @level2type=N'COLUMN',@level2name=N'DIA_CHI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[THAM_SO].[DIEN_THOAI]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THAM_SO', @level2type=N'COLUMN',@level2name=N'DIEN_THOAI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[THAM_SO].[SAN_PHAM]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THAM_SO', @level2type=N'COLUMN',@level2name=N'SAN_PHAM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[THAM_SO].[PHIEU_CHI]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THAM_SO', @level2type=N'COLUMN',@level2name=N'PHIEU_CHI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'cuahang.[THAM_SO]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THAM_SO'
GO
